.token_card {
  margin: 50px;
  height: 170px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 2px #ccc;
  position: relative;
  // background-position: 50% 20%;
} h3 {
  color: gray;
} h5 {
  color: gray;
  opacity: 0.6;
}

.token_card_price {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

