// Specific CSS for your home-page

h2 {
  margin: 0px;
  color: #677885;
}

// #continued-gradient {
//   background: linear-gradient(145deg, #63ADF2 13.9%, white 13.9%, white 100%,);
//   padding-top: 50px;
// }

.info {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-card {
  padding: 30px;
  width: 400px;
}

.background-design {
  background: linear-gradient(135deg, #63ADF2 40%, white 40%, white 100%,);
}

.video-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.black {
  color: black;
}

.search-form {
  height: 30px !important;
  color: black !important;
  opacity: 0.8 !important;
}
