// Specific CSS for your home-page

h2 {
  margin: 0px;
  color: #677885;
}

// #continued-gradient {
//   background: linear-gradient(145deg, #63ADF2 13.9%, white 13.9%, white 100%,);
//   padding-top: 50px;
// }

.info {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-card {
  padding: 30px;
  width: 400px;
}

.background-design {
  background: linear-gradient(135deg, #63ADF2 40%, white 40%, white 100%,);
}

.video-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.black {
  color: black;
}

.search-form {
  height: 38px !important;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid white;
  border-radius: 0;
  color: white;
}

.search-form::placeholder {
  color: white;
  font-weight: 300;
  font-style: italic;
}

.form-border {
  border: 1px solid white;
  width: 313px;
  height: 45px;
  border-radius: 4px
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}
