<div class="main">
  <h1>Holla <%= @user.first_name %></h1>

  <!-- Check for businesses -->
  <% unless @business.name.nil? %>
    <h3>Here's your business: <%= @business.name %>.</h3>
  <% end %>
</div>
