<div class="white-wrapper-section">
  <div class="navbar-offset"></div>
  <div class="text-center">
    <h2>Featured</h2>
    <br>
    <br>
  </div>
</div>

<div class="transparent-wrapper-section">
  <div class="text-center">
    <h2>All Tokens</h2>
    <br>
    <br>
  </div>
  <div class="container">
    <div class="row">
      <% @tokens.each do |token| %>
      <%= link_to token_path(token) do %>
        <div class="col-xs-12 col-sm-3">
          <div class="card">
            <div class="card-content">
              <h3><%= token.name.upcase %> </h3>
              <p>Offered By: <%= token.business.name %> </p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
