<div class="container main">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="token_card">
        <h3><%= @token.name %></h3>
        <a href="<%= @token.business.url %> "><h4><%= @token.business.name %></h4></a>
        <h5 class="token_card_price">Current price:</h5>


      </div>
    </div>
  </div>
</div>
