<div class="banner">
  <div class="banner-content">
    <h1>Welcome to Tokinfo</h1>
    <p>Find places to buy new and upcoming crypto tokens</p>
      <div class="form-inline">
        <div class="form-inputs">
          <div class="form-group">
            <input class="form-control string email required" autofocus="autofocus" type="email" name="email" id="email">
          </div>
          <input type="submit" value="Search" class="tokinfo-btn">
        </div>
      </div>
    </div>
  </div>
  <div class="banner-space">
    <%= image_tag "bitcoin-network.png", size: "50x50" %>
  </div>
</div>

<div id="continued-gradient" class="white-wrapper-section">
  <div class="container">
    <div class="text-center">
      <h2>Who Are We?</h2>
    </div>
    <div class="info">
      <div class="info-card text-center">
        <i class="fa fa-info-circle large-icon" aria-hidden="true"></i>
        <p>Stay informed about all crypto-company performance, new projects and the upcoming ICOs.</p>
      </div>
      <div class="info-card text-center">
        <i class="fa fa-money large-icon" aria-hidden="true"></i>
        <p>Purchase from ICOs and trade popular tokens with other members of the community.</p>
      </div>
    </div>
  </div>
</div>

<div class="white-wrapper-section">
  <div class="container">
    <div class="text-center">
      <h2>Popular Right Now</h2>
    </div>
  </div>
</div>

<div class="white-wrapper-section">
  <div class="text-center">
    <h2>Top Insights</h2>
  </div>
</div>
