<div class="header">
  <div class="wrapper">
    <div class="container">
      <h1>Pages#home</h1>
      <p>Find me in app/views/pages/home.html.erb</p>
    </div>
  </div>
</div>
<div class="banner">
  <div class="banner-content">
    <h1>Welcome to Tokinfo</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
