<div class="banner">
  <div class="banner-left1">
    <div class="banner-content">
      <h1>Welcome to Tokinfo</h1>
      <p>Find places to buy new and upcoming crypto tokens</p>
        <div class="form-inline">
          <div class="form-inputs">
            <div class="form-group">
              <input class="form-control string email required" autofocus="autofocus" type="email" name="email" id="email">
            </div>
            <input type="submit" value="Search" class="tokinfo-btn">
          </div>
        </div>
      </div>
  </div>
  <div class="banner-right1">
    <div class="banner-img">
      <%= image_tag "bitcoin-network.png", size: "280x280" %>
    </div>
  </div>
</div>
<div id="continued-gradient" class="white-wrapper-section">
  <div class="text-center">
    <h2>Popular Right Now</h2>
  </div>
</div>

