.tokinfo-btn {
  font-weight: lighter;
  color: white;
  background-color: $green;
  border: 1px solid $green;
  padding: 5px 15px;
  border-radius: 3px;
  transition: 0.3s ease-in;
  opacity: 1;
}

.tokinfo-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.followme:hover {
  background-color: white !important;
  .fa {
    transform: scale(1.4);
    margin-top: 0px;
    padding-top: 0px;
  }
}

.followme:active {
  background-color: white;
  box-shadow: none;
  transform: scale(1.4);
  .fa{
      color:#6F95F8;
  }
}


// .follow-btn {
//   position: relative;
// }

// .follow-btn .btn {
//   position: absolute;
//   bottom: 133px;
//   left: 180px;
// }

// .follow-btn .clicked{
//     color: #333;
//     background-color: #e6e6e6;
//     border-color: #adadad;
// }

.popover {
//   position: relative !important;
//   bottom: 133px !important;
//   left: 180px;
  // margin: -180px 0 0 100px !important;
  // margin-left: 100px;
}
