.front-nav-button-location {
  position: fixed;
  right: 5vh;
  top: 90vh;
  z-index: 99;
}

.front-nav-button-location-2 {
  position: fixed;
  right: 5vh;
  top: 80vh;
  z-index: 99;
}

.btn-circle {
  border-radius: 50% !important;
  height: 56px;
  width: 56px;
  font-size: 30px;
  transition: all 1s;
}

.btn-circle:hover {
  transform: rotate(180deg);
}
