.white-wrapper-section {
  min-height: 50vh;
  width: 100vw;
  background-color: white;
}

.grey-wrapper-section {
  min-height: 50vh;
  width: 100vw;
  background-color: #F4F4F4;
}

.primary-wrapper-section {
  min-height: 50vh;
  width: 100vw;
  background-color: $green;
}
