.token-card {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  border-radius: 2px;
  background-color: white;
  min-height: 250px;
  transition: 0.3s;
}

.token-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 2px 0 rgba(0,0,0,0.14);
}

.token-card-no-hover {
  display: flex;
  align-items: center;
  margin: 10px 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  border-radius: 2px;
  background-color: white;
  min-height: 220px;
}

.token-card-img {
  max-width: 40%;
  padding: 0 10px;
}

.token-card-stacked {
  flex: 1;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.token-card-content {
  flex-grow: 1;
  padding: 16px 24px;
}

.token-card-action {
  border-top: 1px solid rgba(160,160,160,0.2);
  padding: 16px 24px;
  display: flex;
  align-items: center;
}

.token-card-action a {
  margin: none;
  border: 0;
}

.token-card a {
  color: rgba(0,0,0,0.5);
  transition: all 0.5s;
}

.token-card a:hover {
  color: #63ADF2;
}

.token-card-action p {
  margin: 0;
}


.card-area {
  align-items: center;
  margin: 10px 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
  border-radius: 2px;
  background-color: white;
  min-height: 220px;
}

.inline-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inline-content p {
  margin: 0;
}

.inline-content h3 {
  margin: 0;
}
