#user-img {
  border-radius: 50%;
  border: 2px solid $blue;
  margin-right: 10px;
}
.gray {
  color: gray !important;
}
.no-pad-left {
  padding-left: 0px !important;
}

.white {
  color: white !important;
}
